body {
  font-family: Roboto;
}

#map-canvas {
  margin-top: 0;
  height: 665px;
}

#btn-filter {
  
}

#btn-info {
  right: 0;
}

.btn-circle-wrapper {
  margin: 15px;
  position: absolute;
  z-index: 100;
}

.btn-circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background: #333;
  border: none;
}

#btn-info:hover, #btn-info:active, #btn-info:focus,
#btn-filter:hover, #btn-filter:active, #btn-filter:focus
{
  border: none;
}

#btn-info .btn-circle:hover, #btn-info .btn-circle:active, #btn-info .btn-circle:focus,
#btn-filter .btn-circle:hover, #btn-filter .btn-circle:active, #btn-filter .btn-circle:focus
{
  border: none;
  background: #333;
}

.modal {
  text-align: justify;
}

#team-members {
  margin-top: 20px;
  text-align: center;
}

#filters {
  position: absolute;
  top: 0px;
  left: 85px;
  width: 200px;
}

#filters .panel-body {
  padding: 20px;
}

.type-selection {
  margin-top: 30px;
}